:root {
  --primary: rgba(0, 127, 171, 1);
  --black: rgba(89, 89, 89, 1);
  --black-secondary: rgb(38, 38, 38);
  --title-font-family: "Poppins", Helvetica;
  --title-font-weight: 700;
  --title-font-size: 40px;
  --title-font-size-mobile: 32px;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --title-font-style: normal;
  --body-font-family: "Poppins", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-font-size-mobile: 14px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --section-title-font-family: "Poppins", Helvetica;
  --section-title-font-weight: 700;
  --section-title-font-size: 32px;
  --section-title-font-size-mobile: 24px;
  --section-title-letter-spacing: 0px;
  --section-title-line-height: normal;
  --section-title-font-style: normal;
  --heading-1-font-family: "Poppins", Helvetica;
  --heading-1-font-weight: 600;
  --heading-1-font-size: 24px;
  --heading-1-font-size-mobile: 20px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Poppins", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 20px;
  --heading-2-font-size-mobile: 16px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: normal;
  --heading-2-font-style: normal;
  --variable-collection-xsmall: 4px;
  --variable-collection-small: 8px;
  --variable-collection-medium: 10px;
  --variable-collection-large: 12px;
  --variable-collection-xlarge: 16px;
  --variable-collection-xxlarge: 36px;
}
